#container{
    display: flex;
    flex-direction: row;
    border: solid 5px;
    border-color: black;
    flex-wrap: wrap;
    align-content: flex-start;
    grid-template-columns: repeat(i, 1fr);
    grid-template-rows: repeat(i, 1fr);
    
}
.container-element{

    box-sizing: border-box;
    
    width: 100px;
    height: 100px;
}
